* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box; }

body {
  height: 500vh;
  overflow-x: hidden; }

h1 {
  font-size: 2.2rem;
  color: #feffff; }

section {
  position: relative;
  top: 60px;
  padding-top: 50px; }
  section h2 {
    width: 100%;
    padding-bottom: 20px;
    text-align: center;
    text-transform: uppercase; }
  section.home-section {
    background-color: #5fada8; }
  section.section-ofert {
    background-color: #def2f1; }
    section.section-ofert .page-row {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around; }
  section.section-about .page-row p {
    width: 80%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    text-align: center; }

.page-row {
  position: relative;
  max-width: 1226px;
  left: 50%;
  transform: translateX(-50%); }

header .navigation {
  position: fixed;
  z-index: 99;
  width: 100%;
  height: 60px;
  background-color: #1a2429; }
  header .navigation ul {
    display: flex;
    align-items: center;
    margin-top: 0;
    margin-bottom: 0;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 1226px;
    height: 100%; }
  header .navigation__li {
    list-style-type: none;
    flex-grow: 1;
    text-align: center; }
    header .navigation__li a {
      color: #e2f1f1;
      text-decoration: none;
      text-transform: uppercase; }
    header .navigation__li--home {
      flex-grow: 2; }

.banner {
  height: 300px; }
  .banner .text-wrapper {
    position: absolute;
    top: 30%;
    left: 15%; }
  .banner img {
    max-width: 280px;
    height: auto;
    position: absolute;
    right: 10%;
    bottom: 0; }
  .banner p {
    color: #1a2429;
    text-transform: uppercase; }

.description {
  width: 35%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border: 2px dashed gray;
  border-radius: 20px;
  padding: 30px 30px 50px 30px;
  margin-bottom: 40px; }
  .description--head {
    width: 100%;
    text-align: center;
    padding-bottom: 20px; }
  .description--text {
    width: 75%; }
  .description--icon {
    width: 25%;
    position: relative; }
    .description--icon i {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      border: 1px solid gray;
      border-radius: 50%;
      padding: 20px;
      font-size: 2rem; }
